// CARD HOME + BOTTOM-NAV

a(
  href="{{post.url}}",
  id="{{post.shape}}",
  class="{% if page.id contains 'home' %}card-home{% else %}card-bottom-nav{% endif %}") <!-- assign class based on page -->
    
  //- Defines srcset and sizes based on the shape of thumbnail to reduce image data load
  | {% if post.shape contains 'portrait' %}
  img(
    src="{{ site.thumb_url }}/400/{{ post.thumb }}",
    srcset="{% for width in site.thumb-400-srcset %}{{ site.thumb_url }}/{{ width }}/{{ post.thumb }} {{ width }}w{% if forloop.last == false %}, {% endif %}{% endfor %}",
    sizes="{{ site.thumb-400-sizes }}",
    alt="{{ post.title }}")
  | {% elsif post.shape contains 'square' %}
  img(
    src="{{ site.thumb_url }}/500/{{ post.thumb }}",
    srcset="{% for width in site.thumb-500-srcset %}{{ site.thumb_url }}/{{ width }}/{{ post.thumb }} {{ width }}w{% if forloop.last == false %}, {% endif %}{% endfor %}",
    sizes="{{ site.thumb-500-sizes }}",
    alt="{{ post.title }}")
  | {% elsif post.shape contains 'landscape' %}
  img(
    src="{{ site.thumb_url }}/568/{{ post.thumb }}",
    srcset="{% for width in site.thumb-568-srcset %}{{ site.thumb_url }}/{{ width }}/{{ post.thumb }} {{ width }}w{% if forloop.last == false %}, {% endif %}{% endfor %}",
    sizes="{{ site.thumb-568-sizes }}",
    alt="{{ post.title }}")
  | {% endif %}

  .hanger
    h6 {{ post.hanger }}
    
  .card-home-overlay
    //- lettering.js applies span to each child
    .title-wrap
      | {{post.title}}
